
.create-blog {
    padding-top: 40px;
    padding-bottom: 40px;
    
    .create-blog__title {
        font-size: 20px;
        margin: 0;
        margin-bottom: 30px;
    }
    
    .create-blog__button {
        width: 200px;
        margin-left: auto;
        margin-right: 0;
    }
}
