.home-page {
    padding-top: 40px;

    .home-page__button {
        width: 200px;
        margin-right: 0;
        margin-left: auto;
    }

    .home-page__content {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .home-page__pagination {
        display: flex;
        width: 400px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        Button:first-child {
            margin-right: 10px;
        }
    }
}