.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #AC9A8C;

    .header__logo {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin: 0;
    }

    .header__logout {
        font-size: 18px;
        color: white;
        text-decoration: underline;
        cursor: pointer;
        margin: 0;
    }
}